<div class="flex-container vertical full-height full-width">
  <div class="content-block fixed">
    <button mat-button [matMenuTriggerFor]="animals">Animal index</button>

    <mat-menu #animals="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="vertebrates">
        Vertebrates
      </button>
      <button mat-menu-item [matMenuTriggerFor]="invertebrates">
        Invertebrates
      </button>
    </mat-menu>

    <mat-menu #vertebrates="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
      <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
      <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
      <button mat-menu-item>Birds</button>
      <button mat-menu-item>Mammals</button>
    </mat-menu>

    <mat-menu #invertebrates="matMenu">
      <button mat-menu-item>Insects</button>
      <button mat-menu-item>Molluscs</button>
      <button mat-menu-item>Crustaceans</button>
      <button mat-menu-item>Corals</button>
      <button mat-menu-item>Arachnids</button>
      <button mat-menu-item>Velvet worms</button>
      <button mat-menu-item>Horseshoe crabs</button>
    </mat-menu>

    <mat-menu #fish="matMenu">
      <button mat-menu-item>Baikal oilfish</button>
      <button mat-menu-item>Bala shark</button>
      <button mat-menu-item>Ballan wrasse</button>
      <button mat-menu-item>Bamboo shark</button>
      <button mat-menu-item>Banded killifish</button>
    </mat-menu>

    <mat-menu #amphibians="matMenu">
      <button mat-menu-item>Sonoran desert toad</button>
      <button mat-menu-item>Western toad</button>
      <button mat-menu-item>Arroyo toad</button>
      <button mat-menu-item>Yosemite toad</button>
    </mat-menu>

    <mat-menu #reptiles="matMenu">
      <button mat-menu-item>Banded Day Gecko</button>
      <button mat-menu-item>Banded Gila Monster</button>
      <button mat-menu-item>Black Tree Monitor</button>
      <button mat-menu-item>Blue Spiny Lizard</button>
      <button mat-menu-item disabled>Velociraptor</button>
    </mat-menu>
  </div>
  <div class="content-block flexible relative">
    <agm-map
      [latitude]="51.5124191"
      [longitude]="23.903589"
      [zoom]="8"
      [disableDefaultUI]="true"
      [scaleControl]="true"
      [mapTypeId]="'terrain'"
      [styles]="styles"
    >
      <agm-marker [latitude]="51.5124191" [longitude]="23.903589"></agm-marker>
      <agm-kml-layer
        [url]="
          'https://s3.us-east-2.amazonaws.com/cem-storage-tst/%D0%9E%D0%B7%D0%B5%D1%80%D0%B0.kmz'
        "
        [zIndex]="1"
      ></agm-kml-layer>
      <agm-kml-layer
        [url]="
          'https://drive.google.com/uc?export=download&id=0B1fFxcYW_dJzZEpjajlNdG5vZGc'
        "
        [zIndex]="1"
      ></agm-kml-layer>
    </agm-map>
  </div>
</div>
<router-outlet></router-outlet>
