<div class="flex-container vertical full-height full-width">
  <!-- Header -->
  <div class="content-block fixed">
    <div class="flex-container">
      <div class="content-block fixed">
        <a [attr.href]="headerConfig?.url" target="blank">
          <img class="sirel-logo" [attr.src]="headerConfig?.logo" />
        </a>
      </div>
      <div class="content-block flexible">
        <h4>{{ messages["_GENERAL_TITLE"] }}</h4>
        <h2>{{ messages["_DETAILED_TITLE"] }}</h2>
      </div>
    </div>
  </div>

  <!-- Loading -->
  <div class="content-block fixed">
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
  </div>

  <!-- Navigation -->
  <div class="content-block fixed"></div>

  <!-- Google Map -->
  <div class="content-block flexible relative">
    <agm-map
      [latitude]="51.5124191"
      [longitude]="23.903589"
      [zoom]="8"
      [disableDefaultUI]="true"
      [scaleControl]="true"
      [mapTypeId]="'terrain'"
      [styles]="styles"
    >
      <agm-marker [latitude]="51.5124191" [longitude]="23.903589"></agm-marker>
      <!-- <agm-kml-layer
        [url]="
          'https://s3.us-east-2.amazonaws.com/cem-storage-tst/%D0%9E%D0%B7%D0%B5%D1%80%D0%B0.kmz'
        "
        [zIndex]="1"
      ></agm-kml-layer> -->
      <agm-kml-layer
        [url]="
          'https://drive.google.com/uc?export=download&id=0B1fFxcYW_dJzZEpjajlNdG5vZGc'
        "
        [zIndex]="1"
      ></agm-kml-layer>
    </agm-map>
  </div>
</div>
<router-outlet></router-outlet>
